<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>

            <div class="blog-post">
                <h2 class="blog-title">Title: <%= blog.title %>
                </h2>
                <p class="blog-author">Author: <span class="italic">
                        <%= blog.userName %>
                    </span></p>
                <div class="blog-content">
                    <p class="blog-body">
                        <%= blog.body %>
                    </p>
                </div>
                <a class="delete" data-doc="<%= blog._id %>">
                    <img src="/assets/trashcan.svg" alt="delete icon">
                </a>
            </div>

            <style>
                .blog-post {
                    position: relative;
                }

                .blog-author {
                    margin-top: 10px;
                    color: crimson;
                }

                .italic {
                    font-style: italic;
                }

                .blog-body {
                    line-height: 1.5;
                }

                .blog-title {
                    padding-top: 20px;
                }
            </style>

            <script>
                const trashcan = document.querySelector('a.delete');

                trashcan.addEventListener('click', (e) => {
                    const endpoint = `/blogs/${trashcan.dataset.doc}`;

                    fetch(endpoint, {
                        method: 'DELETE'
                    })
                        .then((response) => {
                            if (response.status === 200) {
                                // Blog post deleted successfully, redirect to the desired page
                                return response.json();
                            } else if (response.status === 403) {
                                // Unauthorized to delete, display an alert message
                                return response.json();
                            } else {
                                throw new Error('Unexpected response status');
                            }
                        })
                        .then((data) => {
                            if (data.error) {
                                alert(data.error);
                            } else {
                                window.location.href = data.redirect;
                            }
                        })
                        .catch((err) => console.error(err));
                });
            </script>
    </body>

</html>