<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>

            <div class="blog-post">
                <h2 class="blog-title">  Title : 
                    <%= blog.title %>
                </h2>
                <p class="blog-author">Author: <span class="italic">
                        <%= blog.userName %>
                    </span></p>
                <div class="blog-content">
                    <p class="blog-body">
                        <%= blog.body %>
                    </p>
                </div>
                <a class="delete" data-doc="<%= blog._id %>">
                    <img src="/assets/trashcan.svg" alt="delete icon">
                </a>
            </div>

            <style>
                .blog-post {
                    position: relative;
                }
                
                .blog-author {
                    margin-top: 10px;
                    color: crimson;
                    /* Add space between author and body */
                }

                .italic {
                    font-style: italic;
                    /* Make the author name italic */
                }

                .blog-body {
                    line-height: 1.5;
                    /* Adjust the line height as needed for the body text */
                }
                .blog-title{
                    padding-top: 20px;
                }
            </style>

            <script>
                const trashcan = document.querySelector('a.delete');

                trashcan.addEventListener('click', (e) => {
                    const endpoint = `/blogs/${trashcan.dataset.doc}`;

                    fetch(endpoint, {
                        method: 'DELETE'
                    })
                        .then((response) => response.json())
                        .then((data) => window.location.href = data.redirect)
                        .catch(err => console.log(err));
                });
            </script>
    </body>

</html>